<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./main.css" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.0/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="mainPanel">
        <div class="boxContent">
          <div class="brand input">
            <label for="brand">Бренд</label>
            <select v-model="selectVFor.brand" name="brand" id="ttt">
              <option v-for="item in data.brends" :value="item.name">{{ item.name }}</option>
            </select>
          </div>

          <div class="priceList input">
            <label for="price">Прайс-лист</label>
            <select v-model="selectVFor.PriceList" name="price" id="price">
              <option v-for="item in data.PriceList" :value="item.name">{{ item.name }}</option>
            </select>
          </div>

          <div class="currency input">
            <label for="currency">Цена</label>
            <input v-model="selectVFor.currency" name="currency" type="number" />
          </div>

          <button @click="send">Add All</button>
        </div>
        <fieldset class="detail">
          <legend>Детали</legend>
          <div class="detail">
            <ul>
              <li>Бренд: {{selectVFor.brand}}</li>
              <li>Прайс-лист: {{selectVFor.PriceList}}</li>
              <li>Цена: {{selectVFor.currency}}₽</li>
            </ul>
          </div>
        </fieldset>
        <fieldset class="info">
          <legend>Info</legend>
          <div class="d">{{ info }}</div>
        </fieldset>
      </div>
    </div>

    <script src="./index.js"></script>
  </body>
</html>
