body {
  padding: 0;
  margin: 0;
  background-color: rgb(64, 64, 60);
  min-height: 100dvh;
  color: white;
  font-size: 20px;
}
#app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.mainPanel {
  border-radius: 20px;
  width: 30%;
  height: 50ch;
  color: black;
  padding: 20px;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info {
  border: 1px solid black;
}

.boxContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

ul {
  padding: 0;
  list-style: none;
}
